:root{
   --bg-elements-color: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
   --text-color: hsl(0, 0%, 100%);
}
.light-mode{
   --bg-elements-color: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 98%);
   --text-color: hsl(200, 15%, 8%);
}

.bg-element{
    background-color: var(--bg-elements-color);
}

.custom-text-white{
    color: var(--text-color);
}